/**
 * IFPay - Estilos Principais
 * Arquivo de importação centralizado
 */

@import url('reset.css');
@import url('variables.css');
@import url('components.css');
@import url('pages.css');
@import url('responsive.css');
